<div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
  <div>
    <div>
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        View To-do 
      </h3>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">
        View to-do item details
      </p>
    </div>
    <div *ngIf="isLoading">
      <app-spinner></app-spinner>
    </div>
    <div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5" *ngIf="model && !isLoading">
      <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
        <label for="street_address" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
          Name
        </label>
        <div class="mt-1 sm:mt-0 sm:col-span-2">
          <input type="text" name="input_name" id="input_name" [(ngModel)]="model.name" autocomplete="input_name" class="block max-w-lg w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 rounded-md">
        </div>
      </div>

      <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
        <label for="about" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
          Description
        </label>
        <div class="mt-1 sm:mt-0 sm:col-span-2">
          <textarea id="about" name="description" rows="3" [(ngModel)]="model.description" class="max-w-lg shadow-sm block w-full focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 rounded-md"></textarea>
          <p class="mt-2 text-sm text-gray-500">Write a few sentences about the to-do item.</p>
        </div>
      </div>
      <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
        <label for="input_dueDate" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
          Due Date
        </label>
        <div class="mt-1 sm:mt-0 sm:col-span-2">
          <app-input-date #inputDueDate id="inputDueDate" class="block max-w-lg w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 rounded-md"
                          [(ngModel)]="model.dueDate">
          </app-input-date>

        </div>
      </div>
      <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
        <label for="input_dueDate" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
          Status
        </label>
        <div class="mt-1 sm:mt-0 sm:col-span-2">
          <span>{{model.statusName}}</span>
          <p *ngIf="model.completedOn" class="mt-1 max-w-2xl text-sm text-gray-500">
            Completed on {{model.completedOn | date:'dd-MMM-yyyy h:mm a'  }}
          </p>
        </div>
      </div>

    </div>
  </div>

</div>

<div class="pt-5" *ngIf="model && !isLoading">
  <div class="flex justify-end">
    <button type="button" [routerLink]="['/todo-list']" class="ml-3 inline-flex justify-center bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
      Back
    </button>
    <button type="button" *ngIf="!model.completedOn" (click)="markAsDoneTodoListItem()" class="ml-3 inline-flex justify-center bg-indigo-100 py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-indigo-700 hover:bg-indigo-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
      Mark as done
    </button>
    <button type="submit" (click)="updateTodoListItem()" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
      Save
    </button>
  </div>
</div>

