<div *ngIf="isLoading; else todoListPending">
  <app-spinner></app-spinner>
</div>

<ng-template #todoListPending>

  <div class="bg-white shadow overflow-hidden sm:rounded-md" *ngIf="!isLoading && todoListItems.length > 0 ; else noPendingRecord">
    <ul class="divide-y divide-gray-200">
      <ng-container *ngFor="let todoListItem of todoListItems">
        <li>
          <div class="block hover:bg-gray-50">
            <div class="flex items-center px-4 py-4 sm:px-6">
              <div class="min-w-0 flex-1 flex items-center">
                <div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-2 md:gap-4">
                  <div>
                    <p class="text-sm font-medium text-indigo-600 truncate">{{todoListItem.name}}</p>
                  </div>
                  <div class="hidden md:block">
                    <div>
                      <p class="text-sm text-gray-900" *ngIf="todoListItem.dueDate">
                        Due Date
                        <time datetime="2020-01-07">{{todoListItem.dueDate | date:'dd-MMM-yyyy'  }}</time>
                      </p>
                      <p class="mt-2 flex items-center text-sm text-gray-500">
                        {{todoListItem.description}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex flex-row-reverse">
                <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" [tooltip]="'View'" [routerLink]="['view', todoListItem.todoListItemId]">
                  <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                </svg>
                <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" [tooltip]="'Edit'" [routerLink]="['edit', todoListItem.todoListItemId]">
                  <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                </svg>
                <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" [tooltip]="'Delete'" [swal]="deleteConfirm">
                  <path fill-rule="evenodd" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" clip-rule="evenodd" />
                </svg>
                <swal #deleteConfirm
                      (confirm)="deleteTodoListItem(todoListItem.todoListItemId)"
                      title='Are you sure you want to delete this todo list item record?'
                      showCancelButton=true
                      [buttonsStyling]=false
                      confirmButtonText='Yes'
                      cancelButtonText='No'
                      [customClass]="{confirmButton: 'btn btn-danger', cancelButton: 'btn btn-default'}">
                </swal>

                <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" [tooltip]="'Mark as done'" (click)="markAsDoneTodoListItem(todoListItem.todoListItemId)">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                </svg>



                <!--<div class="p-10">

                  <div class="dropdown inline-block relative text-sm">
                    <button class="bg-gray-300 text-gray-700 font-semibold py-2 px-4 rounded inline-flex items-center" [routerLink]="['view', todoListItem.todoListItemId]">
                      <span class="mr-1">View</span>
                      <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /> </svg>
                    </button>
                    <ul class="dropdown-menu absolute hidden text-gray-700 pt-1">
                      <li class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-nowrap" [routerLink]="['edit', todoListItem.todoListItemId]">Edit</a></li>
                      <li class=""><a class="rounded-b bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-nowrap" (click)="markAsDoneTodoListItem(todoListItem.todoListItemId)">Mark as done</a></li>
                      <li class=""><a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-nowrap" [swal]="deleteConfirm">Delete</a></li>

                    </ul>
                  </div>
                  <swal #deleteConfirm
                        (confirm)="deleteTodoListItem(todoListItem.todoListItemId)"
                        title='Are you sure you want to delete this todo list item record?'
                        showCancelButton=true
                        [buttonsStyling]=false
                        confirmButtonText='Yes'
                        cancelButtonText='No'
                        [customClass]="{confirmButton: 'btn btn-danger', cancelButton: 'btn btn-default'}">
                  </swal>

                </div>-->

              </div>
            </div>
          </div>
        </li>

      </ng-container>
    </ul>


    <app-pagination [pageNumber]="pageNumber"
                    (pageChanged)="onPageChanged($event)"
                    [pageSize]="pageSize"
                    [totalCount]="totalCount">
    </app-pagination>


  </div>
  <ng-template #noPendingRecord>
    <div class="bg-white shadow overflow-hidden sm:rounded-md">
      No pending todo list item found
    </div>
  </ng-template>
</ng-template>

