<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6">
  <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
    <div>
      <p class="text-sm text-gray-700">
        Showing
        <span class="font-medium">{{startRange}}</span>
        to
        <span class="font-medium">{{endRange}}</span>
        of
        <span class="font-medium"> {{totalCount}}</span>
        record{{ totalCount > 1 ? "s" : ""}}
      </p>
    </div>
  </div>
</div>
