<nav class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6" aria-label="Pagination">
  <div class="hidden sm:block">
    <p class="text-sm text-gray-700">
      Showing
      <span class="font-medium">{{startRange}}</span>
      to
      <span class="font-medium">{{endRange}}</span>
      of
      <span class="font-medium">{{totalCount}}</span>
      record{{ totalCount > 1 ? "s" : ""}}
    </p>
  </div>
  <div class="flex-1 flex justify-between sm:justify-end">
    <div >
      <button type="button" (click)="previousPageClicked()" *ngIf="pageNumber!==1" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
        Previous
      </button>
    </div>
    <div>
      <button type="button" (click)="nextPageClicked()" *ngIf="hasNext" class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
        Next
      </button>
    </div>
  </div>
</nav>
