<div class="mt-2 p-7 md:flex md:items-center md:justify-between">
  <div class="flex-1 min-w-0">
    <h4 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">
      Pending To-dos
    </h4>
  </div>
  <div class="ml-auto pr-2">
    <button type="button" [routerLink]="['new']" class="inline-flex items-center px-5 py-2 border border-transparent text-base font-medium rounded-full shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
      Add new item
    </button>
  </div>
</div>
<app-todo-list-pending-view (todoListItemMarkedAsDone)="onTodoListItemMarkedAsDone()"></app-todo-list-pending-view>
<div class="mt-2 p-7 md:flex md:items-center md:justify-between">
  <div class="flex-1 min-w-0">
    <h4 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">

      Done To-dos
    </h4>
  </div>
</div>
<app-todo-list-done-view #todoListDoneView></app-todo-list-done-view>
