@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.ngx-pagination {
  li {
    a, span {
      font-family: inherit;
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: 500;
    }
  }
}
